{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "~components": "./client/components",
          "~config": "./client/config.js",
          "~helpers": "./client/helpers",
          "~constants": "./client/constants"
        }
      }
    ]
  ]
}